{{#if @barsch}}
  <aside>
    <p class="clickable">{{@titte}}</p>

  </aside>
  {{else}}
  <p>{{this.pipo}}</p>
  <button class="" type="button" {{on "click" this.addPipoSanktGallen}}>PIPO</button>

{{/if}}

<p>cock</p>