<header class="bg-dark text-white shadow-sm">
  <div class="container">
    <div class="d-flex align-items-center justify-content-between py-3">
      {{! Logo / Titel }}
      <h1 class="h4 fw-bold mb-0">Super Casino</h1>

      {{! Navigation }}
      <nav class="d-flex gap-4">
        <a href="/" class="text-white text-decoration-none link-light">Home</a>
        <a
          href="/games"
          class="text-white text-decoration-none link-light"
        >Spiele</a>
        {{#if this.user.isLoggedIn}}
          <a
            href="/login"
            class="text-white text-decoration-none link-light"
          >{{this.user.name}}
          </a>
          <a
            href="/payment"
            class="text-white text-decoration-none link-light"
          >{{this.user.balance}}€
          </a>
        {{else}}
          <a
            href="/login"
            class="text-white text-decoration-none link-light"
          >Login
          </a>
        {{/if}}

      </nav>
    </div>
  </div>
</header>