<div class="bg justify-content-center my-banner">
  <div class="container border bg-dark text-white p-4 rounded shadow">
    <h1>Guthaben Aufladen</h1>
    <div class="row">

      <button
        type="button"
        class="btn btn-success my-2"
        {{on "click" (fn this.user.changeBalance 10 false)}}
      >+10</button>
      <button
        type="button"
        class="btn btn-success my-2"
        {{on "click" (fn this.user.changeBalance 50 false)}}
      >+50</button>
      <button
        type="button"
        class="btn btn-success my-2"
        {{on "click" (fn this.user.changeBalance 100 false)}}
      >+100</button>
    </div>


    <p>Dein Jetziges Guthaben: {{this.user.balance}}€</p>
  </div>
</div>
