<div class="bg justify-content-center" style="background-image: url('./assets/images/background.jpg'); background-size: cover; background-position: center; height: 100vh;">
  <h1 class="text-center text-white ">
    Du willst gambeln wie ein Mega Gambler? <br>
    Registrier' dich jetzt und sicher dir deinen 0€ Starter Bonus!
  </h1>
</div>