<div class="bg justify-content-center my-banner">
  <h1 class="text-center text-white bg-dark m-5 p-5 rounded-5">
    Du willst gambeln wie ein Mega Gambler?
    <br />
    Registriere dich jetzt und sicher dir deinen 0€ Starter Bonus!
  </h1>
</div>