{{page-title "Games"}}
<div class="bg justify-content-center my-banner">
  <div class="bg-dark justify-content-center p-5 rounded-4">
    <h2 class="text-center">Wähle ein Spiel</h2>

    <ul>
      {{#each @model as |game|}}
        <li>
          <LinkTo @route="games.slot" @model={{game.id}}>
            {{game.name}}
          </LinkTo>
        </li>
      {{/each}}
    </ul>
  </div>
</div>

{{outlet}}

