{{page-title "Games"}}
<div class="bg justify-content-center my-banner">

  <Gambling::SlotMachine  @icons={{(array
                                    "/assets/images/img.png"
                                    "/assets/images/img_1.png"
                                    "/assets/images/img_2.png"
                                    "/assets/images/img_3.png"
                                    "/assets/images/img_4.png"
                                    "/assets/images/img_5.png"
  )}} />
</div>

{{outlet}}